/*
* 
* @author Alexandre Mrus
*/

/* Layout
-----------------------------*/
/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}


html, body, #home {
	height: 100%;
	
	scroll-behavior: smooth;
}


body {
	background:	linear-gradient(50deg,#42c5f5,#f542d1);
    background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
	overflow-x: hidden;

}

/* Barra de navegação
-----------------------------*/
nav.navbar-transparente {
	padding: 15px 0px;
	background:transparent;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,0.5);
    border-color: rgba(255,255,255,0.5);
}

.divisor {
	width: 1px;
	background: white;
	margin: 12px 15px;
}

.navbar.menu-fixed {
	background: rgba(0,0,0,0.5);
}
.navbar.menu-fixed img {
	width:70px;
	transition: 0.3s linear;
}
.altura{
	height: 1094px;
}

/* Capa
-----------------------------*/
.capa {
	text-align: center;
}
.borda{
	border: 1px solid #42c5f5;
}

.btn-custom {
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-roxo {
	background: #7c25f8;
}

.btn-roxo:hover {
	background: #6207e3;
	color: white;
}

.btn-branco {
	border: 2px solid white;
}

.btn-branco:hover {
	background-color: white;
	color: black;
}

/* Estrutura conteúdos
-----------------------------*/
.caixa {
	padding-top: 20px;
	padding-bottom: 20px;
}

.caixabranca {
	padding-top: 20px;
	padding-bottom: 20px;
	background: white;
}

#informacoes,#doces  h2,h3 {
	color: #f542d1;
}
#doces p{
	font-size: 1em;
}
#doces img{
	width: 210px;
	height: 210px;
}
#informacoes h3 {
	color: white;
}
#inicio{
	padding-top: 110px;
}

.albuns {
	padding: 10px 0;
}

/*#informacoes img {
	transition: 0.2s ease-in all;
}*/

#informacoes img:hover{
	/*position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(2);
	z-index:100;*/
	cursor: pointer;
}

img {
	transition: 0.2s linear;
}

img.img-hovered {
	transform: scale(1.4);
	z-index: 100;
	position: relative;

}
.rotacionar {
	-ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
	padding-left: 80px;
}

/* Rodapé
-----------------------------*/
footer {
	background: #000;
	padding: 50px 7% 20px 0px;
	position: relative;
	box-sizing: border-box;
}

footer h4 {
	color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
}

footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: #9bf0e1;
	text-decoration: none;
}

footer ul {
	list-style: none;
}


footer a {
	color: #9bf0e1;
	transition: 0.2s ease-in;
}
footer a:hover{
	color: #F6BABA;
	text-decoration: none;
}

footer a:hover i {
	animation: animate 1s;
}



@keyframes animate {
	0% {transform: scale(1);}
	50% {transform: scale(1.6);}
	100% {transform: scale(1);}
}

/* Tipografia
-----------------------------*/
h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	color: white;
}

h2 {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}
.carousel-inner {
	position: relative;
}
.carousel-inner img {
	position: relative;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0)
}

@media (max-width: 750px) {
	footer img {
		width: 100%;
	}

	footer img.logo {
		width: 60%;
	}
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.btn-custom {
		margin: 10px 15px;
		font-size: 1em;
	}
	.teste{
		width: 100%;
	}
	.altura{
		height: 465px;
	}
	#doces img{
		width: auto;
		height: auto;
	}

}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	h1 {
		font-size: 3em;
	}
	.btn-custom {
		margin: 10px 15px;
	}
	.teste{
		width: 100%;
	}
	.altura{
		height: 465px;
	}
	#doces img{
		width: auto;
		height: auto;
	}

}
	
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	h1 {
		font-size: 4em;
	}
	.teste{
		width: 90%;
	}
	.altura{
		height: 465px;
	}

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 5em;
	}
	.teste{
		width: 70%;
	}

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	h1 {
		font-size: 6em;
	}
	.teste{
		width: 70%;
	}
}


